{
  "browser": "chrome",
  "threadCount": "1",
  "language": "en",
  "credentials": {
    "Instructor01": {
      "username": "",
      "password": "",
      "name": ""
    },
    "Instructor02": {
      "username": "",
      "password": "",
      "name": ""
    },
    "Student01": {
      "username": "",
      "password": "",
      "name": ""
    }
  }
}
